@charset "utf-8";   
    
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 10px 15px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 19px;
    padding: 15px 20px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}

nav a.active {
    background:yellow;
    color: black;
}

.animate__slideInLeft{
	--animate-duration: 2s;
}

#main-menu {
    position: fixed;z-index:6;
    text-align: center;
	background: #30D7D4;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	box-shadow:3px 2px 20px #000;
}

.h3{
	font-size: 64px;
	margin-top: 200px;
}

#section1 {
    background-image: url("就这.jpg");
    background-size: cover;
    height: 10vh;
    background-position: center;
	display: inline-flex;
	font-size: 96px;
}

.h2{
	margin-left: 0px;
	margin-top: 0px;
	font-size: 52px;
}
.p1{
	margin-left: 0px;
	width: 70%;
	font-size: 22px;
	color:#000;
} 

#section2 {
    background-image: url(猫猫.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
	color:#ffffff;
     
}

#section3 {
    background-image: url("Portfolio.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    font-size: 20px;
	font-family: "Microsoft JhengHei";
	color:#ffffff;
	
}

#section4 {
    background-image: url("Tower.png");
	background-size: cover;
    background-attachment: fixed;
	background-position: center;
	font-size: 22px;
	font-family: "Microsoft JhengHei";
	color:#ffffff;
}

#section5 {
    background-color: #7DD8D8;
    background-size: cover;
	
}


.img{
	max-width:100px;
	
}
.div-inline{ display:inline} 

section {
    width: 100%;
    margin: 0;
    padding: 100px;
}   
    
    p{
        width: 60%;
		margin-left: 20px;
		font-family: 'Poppins', sans-serif;
    }
    
    h1{
        font-weight: 400;
        font-size: 65px;
		margin-left: 20px;
		font-family: 'Poppins', sans-serif;
}
    

@media (max-width: 720px){
	
   .p2{
        width: 100%;
		margin-left: 20px;
		font-size:18px;
		font-family: 'Poppins', sans-serif;
    }
	
	nav{
    font-size: 15px;
    border-radius: 0px;
		
	}
	
	#main-menu {
    position: fixed;z-index:6;
	background: #30D7D4;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow:3px 2px 20px #000;
}
	
.h1{
	margin-left: 20px;
	margin-top: 0px;
	font-size: 65px;
}
.p1{
	margin-left: 0px;
	font-size: 14px;
} 

}
@media (max-width: 980px){
	
.h2{
	margin-left: 0px;
	margin-top: 0px;
	font-size: 50px;
}
.p1{
	margin-left: 0px;
	font-size: 20px;
} 
    p{
        width: 80%;
		margin-left: 20px;
		font-size:18px;
		font-family: 'Poppins', sans-serif;
    }
}
